{% extends "auctions/layout.html" %}

{% block title %}
Auctions - {{category.name}}
{% endblock %}

{% block body %}
    <h2>{{category.name}}: Active Listings</h2>
	
	{% for listing in listings %}
		{% if listing.active %}
			<div class="listings">
				<div>
				{% if listing.img %}
					<img class="img" src="{{ listing.img }}" alt="{{listing.title}}">
				{% else %}
					<img class="img" src="https://thumbs.dreamstime.com/b/no-image-available-icon-flat-vector-no-image-available-icon-flat-vector-illustration-132482953.jpg" alt="No image available.">
				{% endif %}
				</div>
			
				<div>
					<h3> {{ listing.title }} </h3>
					<p> {{ listing.description }} </p>
					<div>
						Current price: ${{ prices|get_price:listing.id }}
					</div>
					<div>
						Category: {{ listing.category }}
					</div>
					<div>
						<a href="{% url 'listing' listing.id %}">View page.</a>
					</div>
				</div>
			</div>
		{% endif %}
		
	{% empty %}
	<div class="bold">
		No active listings in this category.
	</div>
	{% endfor %}
	
{% endblock %}